html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

body {
	background: #333;
}

.row {min-width:100% !important;}

.row {border: 1px solid aqua;}
.columns {border: 1px dashed red;}


.canvas { 
	border: 2px solid green;
	display: inline;
}
#mirror {
	text-align: center;
}
#canvas1 {

}
#videostream {
	display: none;
}

.orbit-class {
	background-color: transparent;
}

.orbit-slides-container {
	margin: 0 0 0 100px !important;
}